# 맥 os에서 폴더 접근 시 생기는 폴더에 대한 메타데이터를 저장하는 파일
.DS_Store

# 인텔리제이의 프로젝트 별 세팅 파일
.idea

# Terraform 캐시 파일 제외
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup